<%- include('./partials/headdash.ejs') %>
<div class="dashboard">
  <section>
  <div class="flex">
  <h1>Welkom <%= company.name %> !</h1>
  </div>
<hr>
</section>
  <header class="menu-wrap">
    <figure class="user">
      <div class="user-avatar">
        <picture>
          <!-- Gebruik de .avif als je dit type kent  -->
          <source srcset="/assets/img_avatar.avif" type="image/avif" />
          <!-- Gevbruik de .webp, als je dat type kent -->
          <source srcset="/assets/img_avatar.webp" type="image/webp" />
          <!-- Als je beide niet kent, of geen idee wat <source> betekent, doe dan dit -->
          <img
            loading="lazy"
            src="https://www.w3schools.com/howto/img_avatar.png"
            alt="<%=company.name%> foto"
          />
        </picture>
      </div>
      <figcaption><%=company.name%></figcaption>
    </figure>
    <!-- Sidebar met verschillende dingen -->
    <nav>
      <section class="tools">
        <h3>Tools</h3>
        <ul>
          <li>
            <a class="toolbox" href="/stakeholder/<%=company.id%>">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M13 7L11 7 11 11 7 11 7 13 11 13 11 17 13 17 13 13 17 13 17 11 13 11z                 
              M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10c5.514,0,10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z"
                  fill="#fff"
                />
              </svg>
              Stakeholder toevoegen
            </a>
          </li>
        </ul>
      </section>
      <section class="tools">
        <h3>Uw stakeholders</h3>
        <ul>
          <% stakers.forEach(stake => { if (stake.company_id.id === company.id)
          { %>
          <li>
            <a class="toolbox" href="/score">
              <%= stake.name%> - <%=stake.type%>
            </a>
          </li>
          <% } }) %>
        </ul>
      </section>
      <div class="flex kaas">
      <h3>Klas 1F</h3>
    </div>
    </nav>
  </header>
  <!-- Midden van Dashboard -->
  <main class="content-wrap">
    <section class="scores">
      <div class="handprint">
        <img
          loading="lazy"
          src="/assets/handprint.png"
          width="300px"
          height="300px"
          alt="Handafdruk"
        />
      </div>
      <div class="footprint">
        <img
          loading="lazy"
          src="/assets/footprint.png"
          width="300px"
          height="300px"
          alt="Voetafdruk"
        />
      </div>
    </section>
    <section class="sdg-carrousel">
      <ul class="carrousel-list">
        <% stakers.forEach(stake => { if (stake.company_id.id === company.id) { %>
          <li class="carrousel-item">
            <div class="card">
              <h2><%= stake.name %></h2>
              <% let sdgFound = false; %>
              <% scores.forEach(score => { 
                if (!sdgFound && score.stakeholder_id.id === stake.id) { 
                  if (score.score == 1) { %>
                    <p style="color: lightgreen;">Je score is positief op deze SDG, namelijk: <%= score.score %>!</p>
                  <% } else if (score.score < 0) { %>
                    <p style="color: red;">Je score is negatief op deze SDG, namelijk: <%= score.score %>!</p>
                    <% } else if (score.score >= 2) { %>
                      <p style="color: green;">Je score is positief op deze SDG, namelijk: <%= score.score %>!</p>
                  <% } else { %>
                    <p style="color: orange;">Je score is neutraal op deze SDG, namelijk: <%= score.score %>!</p>
                  <% }
                  sdgs.forEach(sdg => { 
                    if (!sdgFound && score.sdg_id.id === sdg.id) { 
                      sdgFound = true; %>
                      <picture>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>?format=avif" type="image/avif">
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>?format=webp" type="image/webp">
                        <img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>" height="112" width="112" value="<%= sdg.id %>" alt="<%= sdg.title %>">
                      </picture>
                     <h2> <%= sdg.title %></h2>
                  <% } }); %>

                <% } 
              }); %>

            </div>
          </li>
        <% } }); %>
        
      
          </div>
        </li>

      </ul>
    </section>
  </main>
  <%- include('./partials/foot') %>
</div>
